<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SPR Airlines Booking</title>

  <!--styles.css link-->
  <link rel="stylesheet" href="styles.css">

  <!--google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap" rel="stylesheet">

  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/b71d1092b8.js" crossorigin="anonymous"></script>
  <style>
  .booking-page{
    background-color: #DEDDFA;
  }
  .booking-form{
    margin: auto;
    width: 80%;
    padding: 5% 5%;
    font-family: Montserrat;
    color: #323232;
    background-color: #ffff;
    margin-top: 5%;
    margin-bottom: 5%;
    border: #323232 solid 1px;
    border-radius: 25px;
  }
  .paging{
    margin: 4% 0;
  }
  .hr-line{
    border-style: dotted;
    border-width: 4px;
    border-color: #323232;
    border-bottom-style: none;
    width: 90%;
    margin: auto;
  }
  .fname, .phone, .booking-email{
    width: 60%;
    padding: 10px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
  }
  #btn-card, #btn-upi{
    background-color: #F70776;
  }

  </style>
</head>

<body class="booking-page">
  <form action="booking" method="POST" class="booking-form">

    <!-- Personal information-->
    <fieldset class="paging">
      <div class="row">
        <legend>Personal Information</legend>
        <div class="col-12">
          <input type="text" name="name" placeholder="Name" class="fname" />
          <p class="form-text">Enter the full name</p>
        </div>
        <div class="col-md-6">
          <input type="email" name="email" class="booking-email" placeholder="Email" required>
        </div>
        <div class="col-md-6">
          <input type="text" class="phone" name="mobnumber" placeholder="Contact Number"  required>
        </div>
      </div>
    </fieldset>

    <hr class="hr-line">
    <!-- Journey Information-->
    <fieldset class="paging">
      <div class="row">
        <legend>Journey Information</legend>
        <div class="col-md-6">
          <label>Journey From:
            <input type="text" name="source" value="{{sourcebook}}"/>
          </label>
        </div>
        <div class="col-md-6">
          <label>Journey To:
            <input type="text" name="destination" value="{{destbook}}"/>
          </label>
        </div>
      </div>
      <label>Departure Date
        <input type="date" name="date">
      </label>
    </fieldset>

    <hr class="hr-line">

    <!-- Make payment-->
    <fieldset class="paging">
      <legend>Make Payment</legend>
      <p>How would you like to pay?</p>
      <button type="button" id="btn-upi" class="btn btn-lg" data-toggle="modal" data-target="#exampleModal"><i class="fa-brands fa-google-pay"></i> UPI</button>
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPI PAYMENT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="UPI ID" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">BOOK</button>
        </div>
    </div>
  </div>
</div>
      <button type="submit" id="btn-card" class="btn btn-lg"> BOOK</button>
        </fieldset>
  </form>
  <script id="template" type="text/template">
    <div>
        <button class="previous" type="button">&lt;</button>
        <span><%= index %></span>
        <button class="next" type="button">&gt;</button>
        <progress value="<%= progress %>"></progress>
      </div>
    </script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>
